div {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

img.headshot {
    width: 25%;
    height: auto;
    border-radius: 5%;
}
